body {
  margin: 0;

  background: #beffe4;
  padding: 0;
  color: #000000;

  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

th,
td,
tr {
  word-wrap:break-word;
}

tr {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.main {
  width: 100%;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1200px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;
}

.main__title {
  font-family: "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 0;
}

.main__table {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #000000;
  width: 1160px;
  table-layout: fixed;
}

.main__head:not(:last-child) {
  cursor: pointer;
}

.main__head:hover:not(:last-child) {
  opacity: 0.5;
}

.main__head:active:not(:last-child) {
  opacity: 0.3;
}

.main__button {
  font-size: 0;
  width: 50px;
  height: 30px;
  background-color: #26a69a;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.main__button:hover {
  opacity: 0.5;
}

.main__button:active {
  opacity: 0.3;
}

.main__head {
  width: 193px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  text-align: left;
  vertical-align: middle;
}

.main__line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.main__line--summ {
  padding-left: 580px;
}

.main__filling {
  background-color: inherit;
  border: none;
  width: 188px;
  border-bottom: 1px solid #9e9e9e;
}

.main__filling:hover {
  border-bottom: 1px solid #26a69a;
}

.main__filling--border {
  border-bottom: none;
}

.main__table td {
  width: 193px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  vertical-align: middle;
  padding-right: 5px;
}

.main__option {
  background-color: #F0FFF0;
}

.main__button--plus::before {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000000;
  top: 15px;
  left: 14px;
}

.main__button--plus::after {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  width: 2px;
  height: 18px;
  background-color: #000000;
  top: 7px;
  left: 23px;
}

.main__button--delete::before {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  width: 20px;
  height: 2px;
  background-color: #000000;
  top: 15px;
  left: 14px;
}

.main__button--up::before {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  top: 0;
  left: 14px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #000000;
}

.main__button--down::before {
  display: block;
  position: absolute;
  background-position: 0 0;
  background-repeat: no-repeat;
  content: "";
  width: 0;
  height: 0;
  top: 10px;
  left: 14px;
  border: 10px solid transparent;
  border-top: 10px solid #000000;
}

